$background-image: url(../img/m-h-night.jpg);
$theme: #21232e;
$text-logo: #fff;
$content-color: #ff4e33;
$button-color: #e3ac00;
$heading-color: #fff;
$text-color: #d1d1d1;
$bg-card: #3b3f50;
$bg-footer: #3b3f50;
$banner-gradient: linear-gradient(90deg, #dda306, #98354d);
$heading-font: 'Source Sans Pro', sans-serif;
$text-font: 'Fresca', sans-serif;