$background-image: url(../img/m-h-day.jpg);
$theme: white;
$text-logo: #2c2f3c;
$content-color: #14a0c7;
$button-color: #699900;
$heading-color: #2c2f3c;
$text-color: #c0c3ce;
$bg-card: #21232e;
$bg-footer: #21232e;
$banner-gradient: linear-gradient(90deg, #65950e, #305ece);
$heading-font: 'Source Sans Pro', sans-serif;
$text-font: 'Hind', sans-serif;
